$primary: #FF3EC2;
$background: #322960;
$input: #473171;
$placeholder: #8988B7;

html, body{
    background: linear-gradient(180deg, #3B2D66 0%, #1A193B 100%) !important;
    background-color: linear-gradient(180deg, #3B2D66 0%, #1A193B 100%) !important;
}

.todolist-container{
    display: flex;
    height: 100%;


    .sidebar{
        display: block;
        width: 40vh;
        height: 100%;
        background-color: $background;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        

        .sidebar-brand{
            display: flex;
            justify-content: flex-start;
            padding-left: 10px;
            .sidebar-brand-img{
                width: 35px;
                display: block;
            }

            .sidebar-brand-text{
                display: block;
                margin-left: 15px;
                font-size: 22px;
                font-weight: 600;
            }
        }
        .sidebar-profile{
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 0px;
        }
        .sidebar-profile-photo{
            width: 50px;
            height: 50px;
            border-radius: 20px;
            object-fit: cover;
            top: 50%;
        }

        .sidebar-profile-info{
            height: 66px ;
            display: flex;
            align-items: center;    
        }
        .sidebar-profile-info-user{
            display: inline-block;
            margin-left: 10px;

            .sidebar-profile-info-user-name{
                line-height: 10px;
            }
            .sidebar-profile-info-user-edit{
                color: $placeholder;
                font-size: 14px;
                line-height: 10px;
            }
        }

        .sidebar-todolists{
            padding-left: 10px;
            padding-right: 10px;

            
            .sidebar-todolist{
                width: 100%;
                height: 30px;
                padding-top: 8px;
                display: flex;
                align-items: center;
                padding-bottom: 8px;
                background-color: $background;

                .sidebar-todolist-title{
                    font-weight: 400;
                    color: white;
                    margin-left: 10px;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 1; /* number of lines to show */
                            line-clamp: 1; 
                    -webkit-box-orient: vertical;
                }
                &:hover{
                cursor:pointer;
                    background-color: $input; 
                    border-radius: 5px;
                }
            }
        }

        .sidebar-section-text{
            line-height: 10px;
            margin-bottom: 0px;
            padding-bottom: 12px;
            font-weight: 600;
        }
    }

    .create-container{
        height: 100%;

        padding: 10px;
        ::ng-deep .create-form {
           
            
            .mat-form-field-label {
              /*change color of label when focused*/
              color: $placeholder !important;
            }

            ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
                background-color: $input;
                border-radius: 5px;
            }

            .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
                color: $placeholder;
              }
            .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
                border: 0.2px solid $placeholder;
                opacity: 1;
            
                .mat-form-field-outline-start,
                .mat-form-field-outline-gap,
                .mat-form-field-outline-end {
                    border: none;
            }

        }

        }

        mat-form-field {
            width: 100%;

        }

        .create-button{
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 50px;
            background: linear-gradient(240.28deg, #F571D2 13.42%, #C628AA 80.47%);
            font-family: "Work Sans";
            border: none;
            font-size: 18px;
            color: white;
            font-weight: 400;
        }
          
    }

    

    .create-emoji-container{
        display: block;
        border-radius: 8px;
    }
    i{
        font-size: 50px;
        font-style: normal;
    }

}

.profile-photo{
    width: 70px;
    height: 70px;
    border-radius: 28px;
    object-fit: cover;
}
.change-profile-photo{
    font-weight: 400;
    color: $placeholder;
    text-decoration: underline;
    cursor: pointer;
}
.input-import{
    visibility: hidden;
}

.sign-out{
    margin-top: 50px;
    margin-left: 10px;
}